name: C++ CI

on:
  push:
    paths-ignore:
    - 'doc/**'
    - 'README.md'
    - 'LICENSE'
  pull_request:
    branches: [ main ]
  
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        compiler: [ g++, clang++ ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      CXX: ${{ matrix.compiler }}
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies (macos)
      run: brew install automake gmp
      if: matrix.os == 'macos-latest'
    - name: Prepare
      run: autoreconf --install
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
